
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.login{
    display: flex;
    align-items: center;
}


.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    border: 6px solid #F84141;
    border-radius: 18px;
    margin: 7%;
}

.login-email, .login-password{
    border: 2px solid #c9b8b8;
    border-radius: 12px;
    height: 12%;
    font-size: 18px;
    padding: 11px;
    text-align: center;
    margin-top: 31px;
}

.logoimg{
        width: 60%;
}

.login-btnLogin{
    background-color: #F84141;
    border-radius: 8px;
    border: none;
    color: #ffff;
    width: 72%;
    cursor: pointer;
    height: 44px;
    margin-top: 27px;
    margin-left: 31px;
    margin-bottom: 24px;
}

.logo-i{
    margin: 9%;
    margin-top: -83px;
    margin-left: 100px;
}

