.container-menu{
    text-align: center;
    padding-top: 27px;
    border: 4px solid #f84141;
    border-radius: 15px;
    width: 238px;
    height: 194px;
    margin: 39px;
}


.image{
    width: 100px;
    text-align: center;
}

.add-product{
    border: 3px solid #f7c42f;
    background: #f7c42f;
    border-radius: 9px;
    width: 100px;
}

.add-product-total{
    border: 1px solid #D7D5D5;
    border-radius: 20px;
    background: #D7D5D5;
    margin: 35px;
    margin-top: 10px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.send-kitchen{
    background: #f84141;
    border: 1px solid #f84141;
    border-radius: 5px;
    width: 160px;
    height: 47px;
    margin: 15px;
    margin-bottom: 3px;
}


/*btn*/


.container-btn{
    display: block;
    margin-left: 29px;
    margin-top: 77px;
}

.break-btn{
    width: 122px;
    height: 61px;
    border: 3px solid #F84141;
    border-radius: 12px;
    background: #ffff;
    margin: 3px;
    color: #F84141
}

.dinner-btn{
    width: 122px;
    height: 61px;
    border: 2px solid #fff;
    border-radius: 12px;
    background: #F84141;
    margin: 3px;
    color: #d7d5d5;
}

.containerMenu{
    display: grid;
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    grid-template-columns: 0fr 1fr;
}
