@media(min-width:1209px) {
    .container-order {
        grid-template-columns: 150px 150px 150px;
    }

    .container-menu {
        width: 80px;
    }

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


.contenedor-general {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "side side side main"
        "side side side main";
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-content: stretch;
    height: 75vh;
}

.container-btn {
    grid-area: header;
    display: grid;
    grid-template-columns: 120px 116px 748px 107px;
    grid-template-rows: 78px;
    justify-items: center;
    align-content: center;
}

.text-mesa {
    justify-self: end;
}

.text-num {
    height: 40px;
    width: 40px;
}

.contenedor-order {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-area: side;
    width: 100%;
    row-gap: 25px;
}

.image {
    width: 45px;
    height: 45px;
    text-align: center;
}

.nombreProduct {
    font-size: 14px;
}

.container-menu {
    text-align: center;
    border: 4px solid #f84141;
    border-radius: 15px;
    width: 140px;
    height: 123px;
    box-shadow: 0 0 1rem #00000025 inset;

}

.dinner-btn {
    background: #f84141;
    border: 3px solid #f84141;
    border-radius: 11px;
    width: 93%;
    margin: 6px;
    color: #FFF
}

.break-btn {
    border: 4px solid #f84141;
    border-radius: 11px;
    color: #f84141;
    width: 93%;
    margin: 6px;

}

.add-product-total {
    display: grid;
    grid-area: main;
    border: 1px solid #D7D5D5;
    border-radius: 20px;
    background: #D7D5D5;
    width: 450px;
    text-align: center;
    box-shadow: 0 0 1rem #00000025 inset;
    justify-content: space-around;
    align-items: center;
    justify-items: stretch;
}

.send-kitchen {
    background: #f84141;
    width: 79%;
    height: 36px;
    border: 3px solid #f84141;
    border-radius: 7px;
    color: #Fff;
    justify-self: center;
}

.btnadd {
    width: 10px;
    height: 10px;

}

.button-order {
    background-color: #F7C42F;
    background: #F7C42F;
    border: 3px solid #F7C42F;
    border-radius: 11px;
}

.form-text {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.text {
    display: contents;
}

.dump-order {
    width: 100%;
}

.delete-order {
    width: 10%;
    border: none;
    background: #d7d5d5;
}

.swal2-styled.swal2-confirm.swalBtnColor {
    color: #d7d5d5;
    
} 
.total-order{
    color: #f84141;
}

.mesas-activas {
    width: 118%;
}


.order-text{
    display: inline-flex;
    justify-content: space-evenly;
}