.container-btn{
    margin-top: 22px;
    margin-inline-start: 23px;
}
.contenedor-order{
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    grid-auto-rows: 183px;
    /* row-gap: 5px; */
    gap: 14px;
    margin-top: 22px;
}
.container-menu{
    text-align: center;
    border: 4px solid #f84141;
    border-radius: 15px;
    width: 140px;
    height: 175px;
    box-shadow: 0 0 1rem #00000025 inset;
}

.image{
    width: 50px;
    text-align: center;
}

.add-product{
    border: 3px solid #f7c42f;
    background: #f7c42f;
    border-radius: 9px;
    width: 100px;
}

.add-product-total{
    border: 1px solid #D7D5D5;
    border-radius: 20px;
    background: #D7D5D5;
    margin: 35px;
    margin-top: -196px;
    width: 69%;
    text-align: center;
    box-shadow: 0 0 1rem #00000025 inset;
    margin-left: 163px;
}

.send-kitchen{
    background: #f84141;
    border: 1px solid #f84141;
    border-radius: 5px;
    width: 160px;
    height: 47px;
    margin: 15px;
    margin-bottom: 3px;
}

.order-text{
    text-align:justify;
}




.break-btn{
    width: 122px;
    height: 61px;
    border: 3px solid #F84141;
    border-radius: 12px;
    background: #ffff;
    margin: 3px;
    color: #F84141
}

.dinner-btn{
    width: 122px;
    height: 61px;
    border: 2px solid #fff;
    border-radius: 12px;
    background: #F84141;
    margin: 3px;
    color: #d7d5d5;
}

