.container-break1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-break2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu {
    margin: 17px;
    border: 3px solid #ff3647;
    border-radius: 19px;
    width: 14%;
    height: 151px;
}


.img{
    width: 93px;
    margin-left: 27px;
    margin-top: 6px;
}

.p-menu{
    text-align: center;
    margin-top: 10px;
}

.container-orders{
    margin-top: -361px;
    border: 1px solid #D7D5D5;
    border-radius: 2pc;
    background: #D7D5D5;
    width: 55%;
    margin-left: 538px;
    height: 235px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-orders{
    background: #ff3647;
    border: 5px solid #ff3647;
    border-radius: 11px;
    color: #D7D5D5;
    width: 165px;
    height: 53px;
}

.btn-menu{
    height: 50px;
    width: 216px;
    margin: 60px;
    margin-left: 81px;
    border: 3px;
    border-radius: 10px;
    background: #7E7575;
    color: #e3c7d5;
}