.container-employess{
    /* margin: 10px auto;
    width: 800px; */
    margin: 0 em;
    height: 50%;

}

.Contenedor-users{
    margin:30px auto;
    width: 600px;
    background: #D7D5D5;
};

.container-users{
    justify-content: center; 
}

.table-employess{
    width: 60%;
    background: white;
    text-align: center;
    border-collapse: collapse;
    float: left;
    margin: 19px;
    margin-top: -40px;
   
}

th, td{
    padding: 10px;
}

thead{
    background-color: #f84141;
    border-bottom: solid 5px #b11818;
    color:white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #b9b5b5;
    color:white;
} 

.ctn-agregar{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: baseline;     
}

.agregar{
    width: 60px;
    height: 60px;
    margin: 1em;
    
}

.form-add{
    background-color: white;
    margin: 0px auto;
    color:#999;
    padding: 10px;
    float:right;
    font-size: 0.8em;
    margin: 5em;
    width: 25%;
    border-radius: 3px;
    margin-top: -40px;
    text-align: center;
}

.input-employess{
    border:solid 1px #ccc;
    outline: none;
    padding: 7px;
    width: 280px;
    cursor:pointer;
    left:5px;
    top:0;
}

.input-employess:focus{
    border-color:gray;
}

.button-eliminar{
    background: #f84141;
    width: 71%;
    /* height: 31px; */
    border: 3px solid #f84141;
    border-radius: 7px;
    color: #Fff;
    justify-self: center;
    margin: 7px;
}


.button-modificar{
    background: #ffDE00;
    width: 71%;
    /* height: 31px; */
    border: 3px solid #f84141;
    border-radius: 7px;
    color: #Fff;
    justify-self: center;
    margin: 9px;
}

.dump-employess{
    width: 15px;
}

.lapiz-edit{
    width: 15px;
}

.button{
    background: #f84141;
    width: 79%;
    height: 36px;
    border: 3px solid #f84141;
    border-radius: 7px;
    color: #Fff;
    justify-self: center
}