.container-active-tables{
    display: grid;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    place-content: center;
    height: 75vh;
    gap: 25px;
}
    


.active-tables{
    border: 5px solid rgb(154, 247, 154);
    width: 100%;
    height: 20vh;

}

.table{
    width: 40%;

}

.text-number-table{
        align-items: center;
}

.tb{
    text-align: center;
}