.container-active-tables{
    display: grid;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    place-content: center;
    height: 75vh;
    gap: 25px;
}
    


.active-tables{
    border: 5px solid #a1969611;
    width: 100%;

}

.table{
    width: 10%;

}

.text-number-table{
        align-items: center;
}

.tb{
    text-align: center;
}