.container-prepared{
  
}
 


.order-prepared{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    border-radius: 15px;
    gap: 50px;
    text-align: center;
}

.list-prepared{
    border: 3px solid #f84141;
    border-radius: 10px;    
}

.div-products{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.text-product{
    margin: 1rem;
}

.text-pending{
    text-align: center;
}